node_modules/
/dist
tmp/
yarn-error.log
.DS_Store
coverage/
.eslintcache
newrelic_agent.log
*.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Aptible
.aptible.env

# Yalc
.yalc
yalc.lock

.env
